{% extends "layout/base.html" %}

{% block headScript %}
    <script type="text/javascript" src="/static/script/farbtastic/farbtastic.js"></script>
    <script type="text/javascript" src="/static/script/jquery.ui.fontSelector/jquery.ui.fontSelector.js"></script>
    <script type="text/javascript" src="/static/script/fontPicker/fontPicker.js"></script>
    <script type="text/javascript">
	$(document).ready(function() {
	    $('#id_font').parent("p").addClass("wrapper-font");
	    $('#id_font_color').parent("p").addClass("wrapper-font-color");
	    
	    $('#colorpicker').farbtastic('#id_color').insertAfter($("#id_color"));
	    $('#colorpicker2').farbtastic('#id_font_color').insertAfter($("#id_font_color"));
	});
    </script>
{% endblock headScript %}

{% block headStyle %}
    <link rel="stylesheet" href="/static/script/farbtastic/farbtastic.css">
    <link rel="stylesheet" href="/static/script/jquery.ui.fontSelector/jquery.ui.fontSelector.css">
{% endblock headStyle %}

{% block content %}
        {{ formState }}	
	<form action="/{{ user.username }}/build/editwebsite/" method="post" class="form-editwebsite">
            {{ form.as_p }}
	    <div id="colorpicker2"></div>
	    <div class="clear"></div>
            <input type="submit" value="Submit" />
	</form>
	<div id="colorpicker"></div>
	<p class="fontpicker-example">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus cursus pharetra. Suspendisse vel laoreet lectus. Suspendisse feugiat eros nec erat consequat viverra. Phasellus vel odio arcu. Quisque rhoncus arcu tristique neque mattis viverra. Mauris lobortis sem at ligula feugiat, elementum aliquet enim commodo. Aenean sit amet nulla gravida, viverra nisi ut, molestie elit. Mauris at rutrum nisl, suscipit viverra nibh. Nulla facilisi. Pellentesque vel mi nisi. Aenean diam massa, molestie quis pellentesque ac, ultricies quis elit. Pellentesque in risus sed dui porttitor hendrerit. Quisque et risus porttitor, luctus lacus vel, bibendum tellus. Donec ac consequat erat, quis accumsan quam. Suspendisse facilisis, metus et eleifend commodo, est magna luctus quam, euismod tincidunt urna mi vel ligula.</p>
{% endblock content %}
