{% extends "layout/base.html" %}

{% block content %}
	<article class="modify-picture-work">
	    <h2>Update picture</h2>
	    <form action="/{{ user.username }}/build/editimagework/{{ work.id }}/" enctype="multipart/form-data" method="post">
		<p>
		    <label for="id_image">Image:</label> <input id="id_image" name="image" type="file">
		</p>
		<p>My current picture :</p>
		<div>
		    <img src="/static/{{ work.image }}"/>
		</div>
		<input type="submit" value="Update my picture" />
	    </form>
	</article>
	<article class="modify-information-work">
	    <h2>Update information</h2>
	    <p class="form-information">* all inputs are required</p>
	    <form action="/{{ user.username }}/build/editwork/{{ work.id }}/" class="form-type" method="post">
		{{ editMetaWorkForm.as_p }}
		<div class="clear"></div>
		<input type="submit" value="Update my information" />
	    </form>
	</article>
	<div class="clear"></div>
{% endblock content %}