<!doctype html>
{% include "buildengine/templates/template1/frontoffice/header.html" %}
<body style="background-color:{{ prefWebsite.color }}; font-family: {{ prefWebsite.font_family }}; color: {{ prefWebsite.font_color }}">
    {% if user.is_authenticated and user.username in request.path %}
        {% if "/build" in request.path %}
        {% else %}
            <div class="manager-template-full-mode">
                <p><a href="/{{ user.username }}/build">Switch to edit mode</a></p>
            </div>
        {% endif %}
    {% endif %}
    <div class="template1">
        <article role="header" >
            <div class="wrapper-content">
                <div class="wrapper-title">
                    <h1 class="modifier-h1" style="color: {{ prefWebsite.font_color }}">
                        <a href="/{{ user.username }}/">{{ firstname }} {{ name }}</a>
                    </h1>                </div>
                <div class="wrapper-headermenu">
                    {% include "buildengine/templates/template1/frontoffice/headermenu.html" %}
                </div>
            </div>
        </article>
        <div class="clear"></div>
        <section>
            <div class="wrapper-content">
                <div class="wrapper-bio">
                    <em>{{ bio.text }}</em>
                </div>
            </div>
        </section>
        {% include "buildengine/templates/template1/frontoffice/footer.html" %}
    </div>
</body>