<!doctype html>
{% include "buildengine/templates/template1/frontoffice/header.html" %}
<body style="background-color:{{ prefWebsite.color }}; font-family: {{ prefWebsite.font_family }}; color: {{ prefWebsite.font_color }}">
    {% if request.user.is_authenticated and request.user.username in request.path %}
        {% if "/build" in request.path %}
        {% else %}
            <div class="manager-template-full-mode">
                <p><a href="/{{ user.username }}/build">Switch to edit mode</a></p>
            </div>
        {% endif %}
    {% endif %}
    <div class="template1">
        <article role="header" >
            <div class="wrapper-content">
                <div class="wrapper-title">
                    <h1 class="modifier-h1" style="color: {{ prefWebsite.font_color }}">
                        <a href="/{{ username }}/">
                            {% if prefWebsite.anonymity == 0 %}
                                {{ firstname }} {{ name }}
                            {% else %}
                                {{ username }}
                            {% endif %}
                        </a>
                    </h1>
                </div>
                <div class="wrapper-headermenu">
                    {% include "buildengine/templates/template1/frontoffice/headermenu.html" %}
                </div>
            </div>
        </article>
        <div class="clear"></div>
        <section>
            <div class="wrapper-content-cartel">
                <p class="wrapper-title-topic"><em><strong>{{ workTopic.name }}</strong>  {{ work.date_created|date:"Y" }} /
                <span class="title-topic">{{ work.name }}</span></em></p>
                <p class="localisation-work"><em>{{ work.current_local }}</em></p>
                <p class="cartel-image"><img src="/static/{{ work.image }}"/></p>
                <p class="topic-text text-line-description"><em>{{ work.text }}</em></p>
                <section class="info-complement">
                    {% if work.width != null and work.height != null %}
                        <p><u>Size</u> : {{ work.width }} x {{ work.height }}</p>
                    {% else %}
                        <p><u>Size</u> : Not specified</p>
                    {% endif %}
                    {% if work.material|length > 0 %}
                        <p><u>Material</u> : {{ work.material }}</p>
                    {% else %}
                        <p><u>Material</u> : Not specified</p>
                    {% endif %}
                </section>
            </div>
        </section>
        {% include "buildengine/templates/template1/frontoffice/footer.html" %}
    </div>
</body>