<!doctype html>
{% include "buildengine/templates/template1/frontoffice/header.html" %}
<body style="background-color:{{ prefWebsite.color }}; font-family: {{ prefWebsite.font_family }}; color: {{ prefWebsite.font_color }}">
    {% if user.is_authenticated and user.id == request.user.id %}
        {% if "/build" in request.path %}
        {% else %}
            <div class="manager-template-full-mode">
                <p><a href="/{{ user.username }}/build">Switch to edit mode</a></p>
            </div>
        {% endif %}
    {% endif %}
    <div class="template1">
        <article role="header" >
            <div class="wrapper-content">
                <div class="wrapper-title">
                    <h1 class="modifier-h1" style="color: {{ prefWebsite.font_color }}">
                        <a href="/{{ username }}/">
                            {% if prefWebsite.anonymity == 0 %}
                                {{ firstname }} {{ name }}
                            {% else %}
                                {{ username }}
                            {% endif %}
                        </a>
                    </h1>
                </div>
                <div class="wrapper-headermenu">
                    {% include "buildengine/templates/template1/frontoffice/headermenu.html" %}
                </div>
            </div>
        </article>
        <div class="clear"></div>
        {% if prefWebsite.isvisible_homeslider == True %}
            <section class="last-works">
                <div class="wrapper-content">
                    <ul class="bxslider">
                        {% if prefWebsiteSlider.kind == "last" %}
                            {% for work in lastWorks %}
                                <li class="wrapper-last-work">
                                    <img height="{{ work.image.height }}" src="/static/{{ work.image }}"/>
                                </li>
                            {% endfor %}
                        {% endif %}
                        {% if prefWebsiteSlider.kind == "focus" %}
                            {% for work in focusWorks %}
                                <li class="wrapper-focus-work">
                                    <img height="{{ work.image.height }}" src="/static/{{ work.image }}"/>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    {% if prefWebsiteSlider.thumb == True %}
                        {% if prefWebsiteSlider.kind == "last" %}
                            <div class="bx-pager">
                                {% for work in lastWorks %}
                                    <span class="wrapper-last-work-thumb">
                                        <a data-slide-index='{{ forloop.counter|add:"-1" }}' href="#">
                                            <img width="120px" src="/static/{{ work.image }}" />
                                        </a>
                                    </span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if prefWebsiteSlider.kind == "focus" %}
                            <div class="bx-pager">
                                {% for work in focusWorks %}
                                    <span class="wrapper-last-work-thumb">
                                        <a data-slide-index='{{ forloop.counter|add:"-1" }}' href="#">
                                            <img width="120px" src="/static/{{ work.image }}" />
                                        </a>
                                    </span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="clear"></div>
                </div>
            </section>
        {% endif %}
        <div class="sub-home">
            <div class="wrapper-content">
            {% if prefWebsite.isvisible_homebio == True %}
                <article class="wrapper-home-biography">
                    <div {% if prefWebsite.isvisible_homeexhibition == True %} class="wrapper-home-content-alignleft" {% endif %}>
                        <p><em>{{ biography|truncatewords:100 }} <a href="/{{ username }}/biography/">Read more ></a></em></p>
                    </div>
                </article>
            {% endif %}
            {% if prefWebsite.isvisible_homeexhibition == True %}
                <article class="wrapper-home-exhibition">
                    <div {% if prefWebsite.isvisible_homebio == True %}class="wrapper-home-content-alignright" {% endif %}>
                        <h2>Last exhibitions</h2>
                        {% for exhibition in exhibitions %}
                            <div class="object-exhibition">
                                <p class="title-exhibition"><strong>{{ exhibition.nameGallery }}</strong></p>
                                <p class="address-exhibition"><em>{{ exhibition.adress }}</em></p>
                                <p class="id-exhibition"><em>Ref : N°{{ exhibition.id }}</em></p>
                            </div>
                        {% endfor %}
                    </div>
                </article>
            {% endif %}
            <div class="clear"></div>
        </div>
    </div>
    {% include "buildengine/templates/template1/frontoffice/footer.html" %}
</body>