/********************
 * Profil Art CSS - General
 *******************/
body{
    background-color: #fcfcfc;
    font-family: "myriad pro", arial, sans-serif;
    font-size: 1em;
}
footer{
    background-color: #a5a5a4;
    height: 40px;
    clear: both;
}
h1{   
    font-size: 1.4em;
    color: #fff;
}
h2{
    font-size: 1.2em;
    color: grey;
    margin-bottom: 13px;
    font-weight: normal;
}
footer .wrapper-content{
    padding-top: 11px;
    font-size: 0.9em;
    color: #fff;
}
.icon-big-eye{
    width: 32px;
    opacity: 0.4;
    margin-top: -6px;
}
.wrapper-content{
    width: 1024px;
    margin: 0 auto;
}
.wrapper-content .main-content{
    margin: 20px auto 0 auto;
    min-height: 700px;
}
.wrapper-manage-work{
    margin-bottom: 20px;
}
.wrapper-manage-work .work{
    width: 25%;
    padding: 10px;
    background-color: white;
    border: 1px solid #b8b8b8;
    float: left;
    margin-right: 62px;
}
.wrapper-mosaic-serie .work-serie{
    padding: 10px;
}
.wrapper-manage-work .wrapper-work-serie{
    width: 100%;
    margin-bottom: 15px;
}
.wrapper-manage-work .wrapper-work-serie .title-serie{
    margin-bottom: 5px;
}
.wrapper-manage-work .work .wrapper-thumb-overlay img{
    width: 100%;
    margin-bottom: 5px;
}
.wrapper-manage-work .work .work-serie{
    float:left;
}
.clear{
    clear: both;
}
a{
    color: #21747a;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/****************************
 * Form
 ***************************/
input{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #aeaeae;
    background-color: #ffffff;
}
.input-button{
    margin-bottom: 15px;
}
.input-button a{
    padding: 5px 15px;
    border: 1px solid #aeaeae;
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    font-size: 14px;
}
input[type=text], input[type=password]{
    width: 200px;
}
#ui-datepicker-div{
    font-size: 0.8em;
}
input[type=submit]{
    padding: 5px 15px;
    cursor: pointer
}
textarea{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
input[type="file"]{
    width: 50%;
}
label{
    margin-bottom: 4px;
    display: block;
    font-size: 0.9em;
    font-style: italic;
}
select{
    padding: 5px;
    width: 200px;
    font-family: inherit;
    font-size: 1em;
}
.logInContent{
    width: 50%;
    float: right;
}
.registerContent{
    float: left;
}
.fontpicker-example{
    margin: 10px 0;
}
.errorlist li{
    color: red;
    font-size: 0.8em;
    font-style: italic;
}
.form-information{
    color: red;
    font-style: italic;
    font-size: 0.8em;
    margin-bottom: 5px;
}
.modify-picture-work{
    width: 50%;
    float: left;
}
.list-modifier-edit li{
    float: left;
    margin-right: 10px;
}
.list-modifier-edit{
    margin-top: -24px;
    position: absolute;
    z-index: 900;
}
.list-modifier-edit img{   
    background-color: white;
    padding: 5px 5px 3px 5px;
    cursor: pointer;
    border: 1px solid #AAA;
}
.modify-picture-work img{
    width: 267px;
}
.modify-information-work{
    width: 50%;
    float: right;
}
.form-type ul li{
    float: left;
    margin-right: 10px;
}
.form-type .work-view-category{
    margin-bottom: 15px;
}
.form-editwebsite .wrapper-font-color{
    float: right;
    margin-right: 40px;
}
.form-editwebsite .wrapper-font{
    width: 68%;
    float: left;
}
/****************************
 * Works
 ***************************/
.work-view{
    background-color: white;
    border: 1px solid #a5a5a4;
    padding: 15px;
    width: 77%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.work-view .work-view-picture{
    margin: 10px 0;
}
.work-view .topic-text{
    margin-bottom: 10px;
}
.work-view-picture img{
    width: 100%;
    margin-bottom: 10px;
}
.work-view-name{
    margin-bottom: 15px;
    font-family: frutiger, serif;
}
.work-view-description{
    font-family: frutiger, serif;
}
/****************************
 * Exhibition
 ***************************/
.wrapper-manage-exhibition .object-exhibition{
    width: 46%;
    background-color: white;
    padding: 13px;
    line-height: 20px;
    border: 1px solid #b8b8b8;
    float: left;
    margin-right: 16px;
    margin-bottom: 17px;
}
.wrapper-manage-exhibition .object-exhibition:nth-child(2n){
    float: right;
    margin-right: 0;
}
.wrapper-manage-exhibition .id-exhibition, .wrapper-manage-exhibition .address-exhibition{
    opacity: 0.6;
}
.wrapper-manage-exhibition .id-exhibition{
    font-size: 0.8em;
}
/****************************
 * Header
 ***************************/
.header-website{
    z-index: 1000;
    color: white;
    background-color: #a5a5a4;
    height: 40px;
    padding: 4px 0;
}
.header-website-transparent{
    background-color: rgba(0, 0, 0, .3);
}
.header-website h1{
    font-size: 1.4em;
    color: #fff;
}
.header-website .wrapper-logo{
    float: left;
    margin-top: 1px;
}
.header-website .wrapper-logo img{
    float: left;
    margin-top: 3px;
    margin-right: 7px;
}
.header-website a{
    color: white;
    text-decoration: none;
    font-weight: normal;
}
.header-website a:hover{
    color: white;
    text-decoration: underline;
}
.header-website .slogan{
    font-size: 0.8em;
    margin-left: 41px;
}
.header-website .main-menu{
    float: right;
    text-align : right;
    margin-top: 11px;
    margin-right: 20px;
}
.header-website .form-search-header input{
    float: left;
    width: 430px;
    margin-top: -5px;
    border: none;
    margin-left: 15px;
    padding: 16px;
    font-size: 15px;
    color: #21747a;
    font-style: italic;
    opacity: 0.85;
}
.header-website .main-menu ul li{
    float: right;
    margin-left: 22px;  
}
.header-website .form-language{
    float: right;
    margin-top: 5px;
    opacity: 0.85;
}
.header-website .form-language select {
    padding:2px;
    background: #f0f0f0;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    cursor: pointer;
    width: 40px;
}    
.header-website .form-select-language{
    padding: 0 4px;
    background-color: #f0f0f0;
}
.header-website .form-language label {
    position:relative;
}
.header-website .form-language label:after {
    content:'>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:5px;
    top:7px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
/*.header-website .form-language label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}*/
/****************************
 * Back Office menu
 ***************************/
.menu-backoffice .menu-vertical ul li{
    list-style: none;
    float: right;
    margin-left: 20px;
    text-align: right;
}
.menu-backoffice{
    padding-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 14px;
}
.menu-backoffice{
    background-color: #f0f0f0;
    height: 35px;
    border-bottom: 1px solid #cdcdcd;
}
.menu-backoffice .menu-vertical{
    padding-top: 9px;
    width: 100%;
    float: right;
}
.menu-backoffice .menu-vertical a{
    color : #8e8e8e;
    text-decoration: none;
    font-size : 1em;
}
.menu-backoffice .menu-vertical a:hover{
    text-decoration: underline;
}
.manager-template-full-mode{
    height: 29px;
    background-color: white;
    width: 200px;
    opacity: 0.6;
}
.manager-template-full-mode p{
    text-align: center;
    padding-top: 6px;
}
.manager-template-full-mode p a{
    color: #8e8e8e;
    text-decoration: none;
    font-size: 1em;
}
.manager-template-full-mode p a:hover{
    text-decoration: underline;
}
.manager-template-full-mode:hover{
    opacity: 1;
    transition-duration: 0.6s;
    transition-property: all;
}
/****************************
 * Notification
 ***************************/
.wrapper-manage-following{
    width: 50%;
    float: left;
    padding-right: 25px;
}
.wrapper-manage-following div{
    margin-bottom: 30px;
}
.wrapper-notification{
    width: 45%;
    float: right;
}
.wrapper-notification div{
    margin-bottom: 30px;
}
.wrapper-notification small{
    font-size: 0.9em;
    font-style: italic;
    color: gray;
}
.wrapper-notification p{
    padding: 8px;
    background-color: #DDD;
}
.wrapper-notification p:nth-child(2n){
    background-color: #EEE;
}
/****************************
 * BLOG APP
 ***************************/

.blog h2{
	text-transform: uppercase;
	font: normal normal normal 20px 'PT Sans', 'sans-serif';
	color: #000;
}

.blog .btn{
	display: inline-block;
	background: #f7f7f7;
	width: 200px;
	height: 40px;
	margin-top: 30px;
	font: normal normal normal 14px/40px 'PT Sans', 'sans-serif';
	color: #666;
	text-decoration: none;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.white-btn{
	display: inline-block;
	background: white;
	width: 170px;
	height: 40px;
	margin-top: 30px;
	font: normal normal normal 16px/40px 'PT Sans', 'sans-serif';
	color: #666;
	text-decoration: none;
	text-align: center;
	border: 1px solid #aaa;
}
.wrapper-btn-right{
    float: right;
}
.blog.home #interview_une{
    margin-top: -20px;
    z-index: -1;
    float: right;
    margin-bottom: 200px;
}

.blog.home #interview_une img{
	display: inline-block;
	width: 100%;
}

.blog.home #interview_une .encart{
	top: 69px;
	right: 0;
	width: 420px;
	background: #fff;
	background: rgba(255, 255, 255, .8);
	padding: 20px;
	font: normal normal normal 14px 'EB Garamond', 'serif';
}

.interview_une_image{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: -100px;
}

.interview_une_image_mask{
    width: 100%;
    position: absolute;
    overflow: hidden;
    height: 520px;
    z-index: -1;
}

.blog.home #interview_une .encart h2{
    font-size: 18px;
	text-transform: uppercase;
	font: normal normal normal 20px 'PT Sans', 'sans-serif';
	color: #000;
}

.blog.home #interview_une .encart h2 a{
    color: #0a7180;
    text-decoration: none;
}

.blog.home #interview_une .encart h2 a:hover{
    text-decoration: underline;
}

.blog.home #interview_une .encart p a{
	display: block;
	font: normal bold normal 14px 'PT Sans', 'sans-serif';
	color: #0a7180;
    text-decoration: none;
}

.blog.home #interview_une .encart p a:hover{
        text-decoration: underline;
}

.blog.home #interview_une .encart p.home_interview_content{
    margin-bottom: 5px;
}

.blog.home #interview_une .encart .btn:nth-of-type(1){
	margin-right: 10px;
}

.blog.home #interview_une .encart .btn:nth-of-type(2){
	font-weight: bold;
}

.blog.home #creer_site #creer_site_txt{
	font: normal normal normal 14px/24px 'PT Sans', 'sans-serif';
	color: #333;
	-webkit-columns: 3 300px;
	-moz-columns: 3 300px;
	columns: 3 300px;
}

.blog.home #creer_site h3{
	margin: 20px 0 10px 0;
	font: normal normal normal 16px 'PT Sans', 'sans-serif';
}

.blog.home #creer_site .btn{
	margin: 10px 0 0 740px;	
}

.blog.home #moteur_recherche .container{
	position: relative;
}

.blog.home #moteur_recherche #moteur_recherche_txt{
	width: 620px;
	-webkit-columns: 3 300px;
	-moz-columns: 3 300px;
	columns: 3 300px;
	font: normal normal normal 14px/24px 'PT Sans', 'sans-serif';
}

.blog.home #moteur_recherche #widget_recherche p{
	position: absolute;
	top: 0;
	right: 20px;
	width: 280px;
}

.blog.home #moteur_recherche #widget_recherche form{
	position: absolute;
	width: 280px;
	top: 30px;
	right: 20px;
}

.blog.home #moteur_recherche #widget_recherche form input{
	width: 100%;
}

.blog.home #corpus_une{
	margin-top: 30px;
}

.blog.home .block_home{
	margin-top: 40px;
}

.blog.home #partenaire .btn{
	margin: 10px 0 0 740px;	
}

.blog.home #people_say{
	background: #d3d3d3;
	margin-top: 30px;
}

.blog.home #people_say .container{
	width: 950px;
	margin: 0 auto;
	padding: 30px;
}

.blog.archives .main-content h1{
	font: normal normal normal 30px/40px 'PT Sans', 'sans-serif';
	text-transform: uppercase;
	color: #000;
	margin: 20px 0;
}

.blog.archives h2{
	margin-bottom: 0px;
}

.blog.archives #archive-tab{
	margin-bottom: 20px;
}

.blog.archives #archive-tab a{
	font: normal normal normal 15px/40px 'PT Sans', 'sans-serif';
	margin: 0 100px;
	text-transform: uppercase;
	color: #999;
	cursor: pointer;
}

.blog.archives #archive-tab a.active{
	font: normal normal normal 25px/40px 'PT Sans', 'sans-serif';
	color: #000;
	cursor: default;
}

.blog.archives #archive-tab a:not(.active):hover{
	color: #000;
	text-decoration: underline;	
}

.blog.archives .interview,
.blog.archives .corpus{
	position: relative;
	clear: both;
}

.blog.archives .date{
	color: #666;
	font: italic normal normal 12px 'PT Sans', 'sans-serif';
	margin-bottom: 10px;
} 

.blog.archives .interview .encart p{
	font: normal normal normal 16px/25px 'EB Garamond', 'serif';
	margin-bottom: 10px;
	text-align: justify;
}

.blog.archives .interview .encart a.btn{
	position: absolute;
	bottom: 30px;
}

.blog.archives .interview .encart p a{
	display: block;
	font: normal bold normal 14px 'PT Sans', 'sans-serif';
	color: #0a7180;
    text-decoration: none;
}

.blog.archives .interview img{
	width: 60%;
	margin-right: 30px;
	margin-bottom: 30px;
	float: left;
}

.blog.interview #interview{
	position: relative;
	top: 10px;
} 

.blog.interview #interview h2{
	margin: 20px 0;
	line-height: 40px;
	font-size: 30px;
}

.blog.interview #interview h2 a{
        color: #0a7180;
        text-decoration: none;
}

.blog.interview #interview .btn{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}

.blog.interview #interview img{
	width: 70%;
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

.blog.interview #interview #encart{
    width: 100%;
}

.blog.interview #interview .encart p{
    font: normal normal normal 16px/25px 'EB Garamond', 'serif';
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
}
.modal{
    z-index: 999 !important;
    border-radius: 0px !important;
    box-shadow: 0 0 0 !important;
    border: 1px solid #777;
}
.jquery-modal{
    z-index: 998 !important;
}
.wrapper-thumb-overlay{
    float:left;
    width: 174px;
    height: 142px;
    overflow: hidden;
    margin-right: 28px;
}
.wrapper-bigthumb-overlay{
    float:left;
    width: 239px;
    height: 194px;
    overflow: hidden;
    margin-right: 28px;
}
.modifier-alignright{
    float: right;
    position: relative;
}
.work-serie .list-modifier-edit{
    margin-left: 109px;
    position: absolute;
    margin-top: -11px;
}

/****************************
 * SEARCH ENGINE
 ***************************/
.searchengine h2 {
	font-size: 22px;
	width: 480px;
	display: inline-block;
}

.searchengine h2 input[type=search]{
	display: inline-block;
	margin-left: 15px;
	font-size: 18px;
}

.searchengine #modalite-recherche{
	margin-bottom: 20px;
}

.searchengine #modalite-recherche #titre{
	font: normal normal normal 18px 'PT Sans', 'sans-serif';
	margin-right: 10px;
}

.searchengine #modalite-recherche input[type=radio]{
	margin-left: 20px;
	margin-right: 5px;
}

.searchengine h3{
	font: normal normal normal 16px 'PT Sans', 'sans-serif';
	text-transform: uppercase;
	margin-left: 15px;
}

.searchengine .corpus ul{
	background: #eee;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	padding: 15px 10px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.searchengine .corpus li,
.searchengine .recherche-simple li{
	width: 300px;
	margin-right: 20px;
	margin-bottom: 20px;
	display: inline-block;
	background: #fff;
	box-shadow: 0 0 5px #333;
}

.searchengine .corpus li a,
.searchengine .recherche-simple li a{
	color: #333;
	text-decoration: none;
}

.searchengine .corpus li a:hover{
	text-decoration: underline;	
}

.searchengine .corpus li .img-container,
.searchengine .recherche-simple li .img-container{
	position: relative;
	width: 300px;
	height: 200px;
	overflow: hidden;
}

.searchengine .corpus li .img-container img.width-ratio-True,
.searchengine .recherche-simple li .img-container img.width-ratio-True{
	width: 100%;
}

.searchengine .corpus li .img-container img.width-ratio-False,
.searchengine .recherche-simple li .img-container img.width-ratio-False{
	height: 100%;
}

.searchengine .corpus li .encart,
.searchengine .recherche-simple li .encart{
	margin-top: 0;
	height: 40px;
	padding-left: 10px;
	border-top: 1px solid #999;
}

.searchengine .corpus li .encart h4,
.searchengine .recherche-simple li .encart h4{
	font: normal normal normal 16px 'PT Sans', 'serif';
}

.searchengine .corpus li .encart .auteur,
.searchengine .recherche-simple li .encart .auteur{
	font: italic normal normal 14px/12px 'EB Garamond', 'serif';
	color: #666;
}







