{% extends "layout/base.html" %}

{% block content %}
    {% for topic in blockTopic %}
        <article class="wrapper-manage-work">
            <div class="work wrapper-work-serie">               
                <ul class="list-modifier-edit modifier-alignright">
                    <li>
                        <a href="/{{ user.username }}/build/edittopic/{{ topic.id }}"><img src="/static/img/icons/pencil.png"></a>
                    </li>
                    <li>
                        <a href="/{{ user.username }}/build/deletetopic/{{ topic.id }}"><img src="/static/img/icons/cross.png"></a>
                    </li>
                    <li>
                        <a href="/{{ user.username }}/build/addwork/{{ topic.id }}"><img src="/static/img/icons/add.png"></a>
                    </li>
                </ul>
                <div class="clear"></div>                 
                <p class="title-serie">{{ topic }}</p>
                {% for work in works %}
                    {% if work.work_topic_id == topic.id %}
                        <div class="work-serie">
                            <div class="wrapper-thumb-overlay">
                                <a href="/{{ user.username }}/build/editwork/{{ work.id }}">
                                    <img style="width: 200px;" src="/static/{{ work.image }}"/>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="clear"></div>
            </div>
        </article>
    {% endfor %}
    <div class="clear"></div>
    <div class="input-button">
        <a href="/{{ user.username }}/build/addtopic">Add a topic</a>
    </div>
{% endblock content %}