{% extends "layout/base.html" %}
{% load username_extras %}
{% load i18n %}

{% block content %}
    <article class="wrapper-manage-following">
        <div>
            <h2>{% trans "following" %}</h2>
            <p>
                {% for user in userFollowing %}
                    <a href="/{{ user.username }}/">{{ user.username }}</a> {% if not forloop.last %} / {% endif %}
                {% endfor %}
            </p>
        </div>
        <div>
            <h2>{% trans "followers" %}</h2>
            <p>
                {% for user in userFollowers %}
                    <a href="/{{ user.username }}/">{{ user.username }}</a> {% if not forloop.last %} / {% endif %}
                {% endfor %}
            </p>
        </div>
    </article>
    <article class="wrapper-notification">
        <div>
            <h2>{% trans "lastActivityWork" %}</h2>
            {% for work in userLastWorks %}
                    <p>{{ work.name }} <small>by
                    <a href="/{% get_username_from_userid work.user_id %}/cartel/{{ work.id }}">
                        {% get_username_from_userid work.user_id %}
                    </a></small></p>
                    
            {% endfor %}
        </div>
        <div>
            <h2>{% trans "lastActivityEx" %}</h2>
            {% for exhibition in userLastExhibitions %}
                <p>{{ exhibition }} <small>by <a href="/{% get_username_from_userid exhibition.user_id %}/exhibitions">{% get_username_from_userid exhibition.user_id %}</a></small></p>
            {% endfor %}
        </div>
    </article>
    {% for group in user.groups.all %}
        {% if group.name == "Curator" %}
            <article class="wrapper-curator-tool">
                <h2>Rate artist</h2>
            </article>
        {% endif %}
    {% endfor %}
    <div class="clear"></div>
{% endblock content %}