{% extends "layout/base.html" %}
{% load username_extras %}
{% load i18n %}

{% block headScript %}
    <script type="text/javascript" src="/static/script/ajax/themes.js"></script>
{% endblock headScript %}

{% block content %}
    <h2>{% trans "changeTemplate" %}</h2>
    <section class="wrapper-themes">
        {% for theme in themes %}
            {% if theme.id_template != prefWebsite.id_template %} 
                <div class="wrapper-unique-theme" id-template="{{ theme.id_template }}" requestiduser="{{ request.user.id }}" name="{{ username }}">
                    <div class="overlay-image">
                        <img src="/static/{{ theme.image }}"></img>
                    </div>
                    <p class="name-template">{{ theme.name }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </section>
    <div class="modal" id="modalsuccess" style="display:none;">
        {% trans "changeTemplateOK" %}
    </div>
    <div class="modal" id="modalerror" style="display:none;">
        {% trans "changeTemplateNO" %}
    </div>
    <div class="clear"></div>
{% endblock content %}