/********************
 * Profil Art CSS
 *******************/
body{
    background-color: #fcfcfc;
    font-family: "myriad pro", arial, sans-serif;
    font-size: 1em;
}
footer{
    background-color: #a5a5a4;
    height: 40px;
}
h1{   
    font-size: 1.4em;
    color: #fff;
}
footer .wrapper-content{
    padding-top: 11px;
    font-size: 0.9em;
    color: #fff;
}
.wrapper-content{
    width: 1024px;
    margin: 0 auto;
}
.wrapper-content .main-content{
    margin: 20px auto;
}