/********************
 * Profil Art CSS
 *******************/
body{
    background-color: #fcfcfc;
    font-family: "myriad pro", arial, sans-serif;
    font-size: 1em;
}
footer{
    background-color: #969696;
    height: 40px;
}
article{
    margin-bottom: 20px;
}
h1{   
    font-size: 1.4em;
    color: #fff;
}
.wrapper-title{
    padding-top: 9px;
}
footer .wrapper-content{
    padding-top: 11px;
    font-size: 0.9em;
    color: #fff;
}
.wrapper-content{
    width: 1024px;
    margin: 0 auto;
}