<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Profil Art</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/screen.css">
    <link rel="stylesheet" href="/static/template/template1/screen.css">
</head>
<body style="background-color:{{ prefWebsite.color }};">
    {% if user.is_authenticated and user.username in request.path %}
        {% if "/build" in request.path %}
        {% else %}
            <div class="manager-template-full-mode">
                <p><a href="/{{ user.username }}/build">Switch to edit mode</a></p>
            </div>
        {% endif %}
    {% endif %}
    <div class="template1">
        <article role="header" style="font-family: {{ prefWebsite.font_family }}">
            <div class="wrapper-content">
                <div class="wrapper-title">
                    <h1 class="modifier-h1">{{ firstname }} {{ name }}</h1>
                </div>
            </div>
        </article>
        <article style="font-family: {{ prefWebsite.font_family }}">
            <div class="wrapper-content">
                {% if editMode  %}
                    <article role="biography" class="modifier-biography modifier-edit-wrapper">
                        <ul>
                            <li>
                                <a class="modifier-edit-link" href="/{{ user.username }}/build/edittext/{{ blockText.id }}" title="Edit my text">
                                    <img src="/static/img/icons/pencil.png"/>
                                </a>
                            </li>
                        </ul>
                        <article role="marker" class="modifier-edit-marker">
                            {{ blockText|linebreaks }}
                        </article>
                    </article>
                    
                    <!--
                    <article role="image-presentation" class="modifier-image-presentation modifier-edit-wrapper">
                        <ul>
                            <li>
                                <a class="modifier-edit-link" href="/{{ user.username }}/build/addimage" title="Add a picture">
                                     <img src="/static/img/icons/add.png"/>
                                </a>
                            </li>
                        </ul>
                        <article role="marker" class="modifier-edit-marker">
                            {% for image in blockImage %}
                                <article role="marker" class="modifier-edit-marker">
                                <a href="/{{ user.username }}/work/{{ work.id }}">
                                    <img style="width: 190px;" src="{{ image }}"/>
                                </a>
                                </article>
                            {% endfor %}
                        </article>
                    </article>
                    -->
                    <article role="quick-view-works" class="modifier-quick-view-works modifier-edit-wrapper">
                        <ul>
                            <li>
                                <a class="modifier-edit-link" href="/{{ user.username }}/build/managework" title="Manage my works">
                                    <img src="/static/img/icons/pencil.png"/>
                                </a>
                            </li>
                        </ul>
                        <article role="marker" class="modifier-edit-marker">
                            <h2 class="modifier-h2">Paint Works</h2>
                            <figure title="Paint Works" class="list-paint-works">
                                {% for work in blockWork %}
                                    {% for type in workType %}
                                        {% if work.id == type.idWork_id and type.idType == 1 %}
                                            <a href="/{{ user.username }}/work/{{ work.id }}">
                                                <img style="width: 190px;" src="/static/{{ work.image }}"/>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </figure>
                            
                            <figure title="Video Works" class="list-video-works">
                                <h2 class="modifier-h2">Video Works</h2>
                                {% for work in blockWork %}
                                    {% for type in workType %}
                                        {% if work.id == type.idWork_id and type.idType == 2 %}
                                            <a href="/{{ user.username }}/work/{{ work.id }}">
                                                <img style="width: 190px;" src="/static/{{ work.image }}"/>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </figure>
                            
                            <figure title="Installation Works" class="list-installation-works">
                                <h2 class="modifier-h2">Installation Works</h2>
                                {% for work in blockWork %}
                                    {% for type in workType %}
                                        {% if work.id == type.idWork_id and type.idType == 3 %}
                                            <img style="width: 190px;" src="/static/{{ work.image }}"/>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </figure>
                        </article>
                    </article>
                {% else %}
                    <article role="biography" class="modifier-biography">
                        {{ blockText|linebreaks }}
                    </article>
                    
                    <article role="image-presentation" class="modifier-image-presentation">
                        {% for image in blockImage %}
                            <a href="/{{ user.username }}/work/{{ work.id }}">
                                <img style="width: 190px;" src="{{ image }}"/>
                            </a>
                        {% endfor %}
                    </article>
                    
                    <article role="quick-view-works" class="modifier-quick-view-works">
                        <h2 class="modifier-h2">Paint Works</h2>
                        <article class="list-paint-works">
                            {% for work in blockWork %}
                                {% for type in workType %}
                                    {% if work.id == type.idWork_id and type.idType == 1 %}
                                        <a href="/{{ user.username }}/work/{{ work.id }}">
                                            <img title="Go to see {{ work.name }}" style="width: 190px;" src="/static/{{ work.image }}"/>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </article>
                        
                        <figure title="Video Works" class="list-video-works">
                            <h2 class="modifier-h2">Video Works</h2>
                            {% for work in blockWork %}
                                {% for type in workType %}
                                    {% if work.id == type.idWork_id and type.idType == 2 %}
                                        <a href="/{{ user.username }}/work/{{ work.id }}">
                                            <img style="width: 190px;" src="/static/{{ work.image }}"/>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </figure>
                        
                        <figure title="Installation Works" class="list-installation-works">
                            <h2 class="modifier-h2">Installation Works</h2>
                            {% for work in blockWork %}
                                {% for type in workType %}
                                    {% if work.id == type.idWork_id and type.idType == 3 %}
                                        <img style="width: 190px;" src="/static/{{ work.image }}"/>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </figure>
                    </article>
                {% endif %}
            </div>
        </article>
    </div>
</body>