<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Profil Art</title>
    <link rel="stylesheet" href="/static/template/template1/screen.css"
</head>
<body>
    <div class="template1">
        <article role="header">
            <div class="wrapper-content">
                <div class="wrapper-title">
                    <h1 style="color:red">Joe Calderon's Art</h1>
                </div>
            </div>
        </article>
        <article>
            <div class="wrapper-content">
                {% if editMode  %}
                    <div style='padding: 10px; border: 1px dotted gray'>
                        {{ blockText }}
                    </div>
                    <a href="/{{ user.username }}/build/edit/text/{{ blockText.id }}">Edit my element</a>
                    <br/>
                    <hr/>
                    <div style="padding: 10px; border: 1px dotted gray">
                        {% for image in blockImage %}
                            <img style="padding: 5px; border: 1px dotted black; width: 190px;" src="{{ image }}"/>
                            <a href="/{{ user.username }}/build/delete/image/{{ image.id }}">Delete this image</a>
                        {% endfor %}
                    </div>
                    <a href="/{{ user.username }}/build/add/image">Add an image</a>
                {% else %}
                    {{ blockText }}
                    <br/>
                    <hr/>
                    {% for image in blockImage %}
                        <img style="width: 190px;" src="{{ image }}"/>
                    {% endfor %}
                {% endif %}
            </div>
        </article>
    </div>
</body>