/********************
 * Profil Art CSS - Template 1
 *******************/
body{
    background-color: black;
    font-family: "myriad pro", arial, sans-serif;
    font-size: 1em;
}
.template1 .wrapper-content .wrapper-title{
    margin: 20px 82px 0 0;
    float: left;
}
header, footer{
    height: 40px;
}
footer .wrapper-content{
    padding-top: 11px;
    font-size: 0.9em;
    color: #fff;
}
.wrapper-content{
    width: 1024px;
    margin: 0 auto;
}
.modifier-h1{
    color: black;
    font-size: 1.9em;
}
.modifier-h2{
    color: black;
    margin-bottom: 7px;
}
.modifier-biography{
    color: black;
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 50px;
}
.modifier-biography p{
    margin-bottom: 10px;
}
.modifier-quick-view-works .list-paint-works{
    margin-bottom: 30px;
}
.modifier-edit-marker{
    padding: 10px;
    border: 1px dotted gray;
}
.template1 .modifier-edit-marker .bx-wrapper {
	margin-top: 0;
	margin-bottom: 50px;
}
.wrapper-bxslider{
	margin-top: 45px;
}
.modifier-edit-marker:hover{
    border-color: green;
    transition-property: all;
    transition-duration: 0.5s;
}
.modifier-edit-wrapper a.modifier-edit-link{
    text-decoration: underline;
    font-style: normal;
    font-size: 16px;
    color: gray;
}
.modifier-edit-wrapper ul{
    background-color: #f0f0f0;
    padding: 6px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    width: 11%;
    opacity: 0.6;
    transition-property: all;
    transition-duration: 0.1s;
}
.modifier-edit-wrapper ul:hover{
    opacity: 1;
    transition-property: all;
    transition-duration: 0.5s;
}
.modifier-edit-wrapper {
    margin-bottom: 20px;
}
.modifier-edit-wrapper a.modifier-edit-link:hover{
    color: white;
}
.template1 .wrapper-headermenu{
	padding-top: 32px;
}
.template1 .wrapper-headermenu ul.headermenu li{
	float: left;
}
.template1 .wrapper-headermenu ul.headermenu li a{
	opacity: 0.5;
	margin-left: 20px;
	font-size: 15px;
	text-decoration: none;
}
.template1 .topic-text{
	font-size: 0.9em;
	opacity: 0.6;
	width: 31%;
	float: left;
}
.template1 .topic-work-image{
	width: 174px;
	float: left;
}
.template1 .topic-line{
	margin-bottom: 20px;
}
.template1 .sub-title{
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 1.3em;
}
.template1 .title-topic{
	text-transform: lowercase;
}
.template1 .wrapper-headermenu ul.headermenu li a:hover{
	text-decoration: underline;
}
.template1 .last-works .wrapper-last-work{
	float: left;
	margin-top: 60px;
}
.template1 .last-works .wrapper-last-work img{
	width: 330px;
	margin-right: 16px;
	box-shadow: 0px 0px 20px #AAA;
}
.template1 .last-works .bxslider img{
	width: 100%;
	position: relative;
	min-height: 613px;
}
.template1 .last-works .bxslider li{
	margin-top: 0;
}
.template1 .last-works .wrapper-last-work:last-child img{
	margin-right: 0px;
}
.template1 .bx-wrapper{
	margin-top: 45px;
}
.template1 .bx-wrapper .bx-viewport {
	border: none;
	box-shadow: 0px 0px 30px #AAA;
	height: 484px !important;
}
.template1 .wrapper-title-topic{
	margin-top: 50px;
}
.template1 .text-line-description{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	line-height: 20px;
}
.template1 .image-work-topic{
	margin-top: 50px;
}
.template1 .cartel-topic .topic-work-image{
	width: 240px;
}
.template1 .wrapper-content-cartel .wrapper-title-topic{
	margin-bottom: 3px;
}
.template1 .wrapper-content-cartel .localisation-work{
	margin-bottom: 15px;
	opacity: 0.6;
}
.template1 .wrapper-content-cartel{
	width: 830px;
	margin: 0 auto;
}
.template1 .wrapper-content-cartel .text-line-description{
	font-size: 0.8em;
}
.template1 .cartel-image img{
	margin-bottom: 15px;
	box-shadow: 0px 0px 21px #BBB;
}
.template1 .info-complement{
	margin-top: 8px;
}
.template1 .info-complement p{
	margin-top: 5px;
	font-size: 0.8em;
}
.template1 .up-wrapper{
	margin-top: 25px;
}
.template1 .wrapper-bio{
	margin-top: 40px;
	opacity: 0.6;
	font-size: 0.9em;
	line-height: 20px;
}
.template1 .wrapper-exhibition{
	margin-top: 40px;
	line-height: 20px;
}
.template1 .address-exhibition{
	opacity: 0.6;
}
.template1 .id-exhibition{
	opacity: 0.6;
	font-size: 0.7em;
}