/********************
 * Profil Art CSS - Template 1
 *******************/
body{
    background-color: black;
    font-family: "myriad pro", arial, sans-serif;
    font-size: 1em;
}
.template1 .wrapper-content .wrapper-title{
    margin: 20px 0;
}
header, footer{
    height: 40px;
}
footer .wrapper-content{
    padding-top: 11px;
    font-size: 0.9em;
    color: #fff;
}
.wrapper-content{
    width: 1024px;
    margin: 0 auto;
}
.modifier-h1{
    color: white;
    font-size: 2em;
    text-align: center;
}
.modifier-h2{
    color: white;
    margin-bottom: 7px;
}
.modifier-biography{
    color: white;
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 50px;
}
.modifier-biography p{
    margin-bottom: 10px;
}
.modifier-quick-view-works .list-paint-works{
    margin-bottom: 30px;
}
.modifier-edit-marker{
    padding: 10px;
    border: 1px dotted gray;
}
.modifier-edit-marker:hover{
    border-color: green;
    transition-property: all;
    transition-duration: 0.5s;
}
.modifier-edit-wrapper a.modifier-edit-link{
    text-decoration: underline;
    font-style: normal;
    font-size: 16px;
    color: gray;
}
.modifier-edit-wrapper ul{
    background-color: #f0f0f0;
    padding: 6px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    width: 11%;
    opacity: 0.6;
    transition-property: all;
    transition-duration: 0.1s;
}
.modifier-edit-wrapper ul:hover{
    opacity: 1;
    transition-property: all;
    transition-duration: 0.5s;
}
.modifier-edit-wrapper {
    margin-bottom: 20px;
}
.modifier-edit-wrapper a.modifier-edit-link:hover{
    color: white;
}