<!doctype html>
<head>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/screen.css">
    <script type="text/javascript" src="/static/script/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/static/script/main.js"></script>
</head>
<body class="page-curator">
    {% include "layout/header.html" %}
    {% include "menu/backOfficeMenu.html" %}
    <section>
        <div class="wrapper-content">
            <h2>Page curateur de {{ firstname }} {{ name }}</h2>
        </div>
    </section>
    <section class="biography">
        <div class="wrapper-content">
            <form action="/{{ user.username }}/build/editbio/" class="form-bio" method="post">
                {{ formBio.as_p }}
                <div class="clear"></div>
                <input type="submit" value="Update my biography" />
            </form>
        </div>
    </section>
    <section>
        <div class="wrapper-content">
            <h2>Expositions actuelles</h2>
            <article class="wrapper-manage-exhibition">
                <div class="exhibition wrapper-exhibition">
                    {% for exhibition in exhibitions %}
                        <div class="exhibition-object">
                            <p>{{ exhibition.nameGallery }}</p>
                            <p>{{ exhibition.adress }}</p>
                        </div>
                    {% endfor %}
                </div>
            </article>        
            <div class="clear"></div>
            <div>
                <a href="/{{ user.username }}/build/addexhibition">Add an exhibition</a>
            </div>
        </div>
    </section>
    {% include "layout/footer.html" %}
</body>
