{% load color_extras %}
{% load i18n %}

<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Profil Art</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/screen.css">
    <link rel="stylesheet" href="/static/template/template2/screen.css">
    <link rel='stylesheet' type='text/css' href="/static/script/modal/jquery.modal.css">
    <link rel="stylesheet" href="/static/script/mosaic/mosaic.css">
    <link rel="stylesheet" href="/static/script/qtip/jquery.qtip.css">
    
    <style type="text/css">
        .template2 a{
            color : {{ prefWebsite.font_color }};
        }
    </style>
    <script type="text/javascript" src="/static/script/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/static/script/qtip/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="/static/script/mosaic/mosaic.1.0.1.min.js"></script>
    <script type="text/javascript" src="/static/script/modal/jquery.modal.min.js"></script>
    <script type="text/javascript" src="/static/script/highlight/highlight.pack.js"></script>
    <script type="text/javascript" src="/static/template/template1/script.js"></script>
    <script type="text/javascript" src="/static/template/backoffice_ajax.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.circle').mosaic({
                opacity	: 0.8
            });
        });
    </script>
    
    <link rel="stylesheet" href="/static/script/farbtastic/farbtastic.css">
    <link rel="stylesheet" href="/static/script/jquery.ui.fontSelector/jquery.ui.fontSelector.css">
        
        
    <script type="text/javascript" src="/static/script/attrchange.js"></script>
    <script type="text/javascript" src="/static/script/farbtastic/farbtastic.js"></script>
    <script type="text/javascript" src="/static/script/jquery.ui.fontSelector/jquery.ui.fontSelector.js"></script>
    <script type="text/javascript" src="/static/script/fontPicker/fontPicker.js"></script>
    <script type="text/javascript">
	$(document).ready(function() {
	    $('#id_font').parent("p").addClass("wrapper-font");
	    $('#id_font_color').parent("p").addClass("wrapper-font-color");
	    
	    $('#colorpicker').farbtastic('#id_color').insertAfter($("#id_color"));
	    $('#colorpicker2').farbtastic('#id_font_color').insertAfter($("#id_font_color"));
            
            $("#id_color").attrchange({
                trackValues: true,
                callback: function(e) {
                        newBackgroundColor = e.newValue.slice(0,35);
                        newColor = e.newValue.slice(18,35);
                        $("body, .change-background").attr("style", newBackgroundColor);
                        $(".general-template-color h1, .general-template-color a").attr("style", "color:"+newColor);
                }
            });
            $("#id_font_color").attrchange({
                trackValues: true,
                callback: function(e) {
                        newColor = e.newValue.slice(18,35);
                        $(".general-template p, .general-template h1, .general-template h2, .general-template .headermenu li a").attr("style", "color:"+newColor);
                }
            });

            $("form.form-editwebsite-allform .layer").hide();
            $(".btn-slider-home img").click(function() {
                $("form.form-editwebsite-allform .layer").fadeToggle();
            });
                        
            $('#id_font option[value="'+$(".select-fontstyle").html()+'"]').attr("selected", "selected");
            
            $('[title]').qtip({
                style: {
                    classes: "qtip-light"
                },
                position: {
                    my: 'bottom center',
                    at: 'top center',
                }
            });
	});
    </script>
</head>

<body style="background-color:{{ prefWebsite.color }};">
    <div class="clear"></div>
    {% include "form/editwebsite-allform.html" %}
    
        <article role="header" class="template2 background header-top general-template-color" style="font-family: {{ prefWebsite.font_family }}; color: {{ prefWebsite.color }}">
        <div class="wrapper-content">
            <div class="wrapper-title">
                <h1 class="modifier-h1" style="color: {{ prefWebsite.color }}">{{ firstname }} {{ name }}</h1>
            </div>
            <div class="wrapper-headermenu">
                {% include "buildengine/templates/template2/backoffice/headermenu.html" %}
            </div>
        </div>
        <div class="clear"></div>
    </article>

    {% if prefWebsite.image == "" %}
        <div class="template2 general-template change-background" style="background-color:{{ prefWebsite.color }}; font-family: {{ prefWebsite.font_family }};
        color: {{ prefWebsite.font_color }}; background-image : url('/static/{{ prefWebsite.image }}'); background-attachment:fixed;">
    {% else %}
            <div class="template2 general-template" style="background-color:{{ prefWebsite.color }}; font-family: {{ prefWebsite.font_family }};
        color: {{ prefWebsite.font_color }}; background-image : url('/static/{{ prefWebsite.image }}'); background-attachment:fixed;">
            <div class="wrapper-content background-image-website change-background" style="background-color:{% get_rgba_from_hex prefWebsite.color 0.93 %};">
    {% endif %}
    
        <article>
            <div class="wrapper-content">
                <section class="last-works">
                    <div class="wrapper-content wrapper-mosaic">
                        <div class="modifier-edit-marker wrapper-bxslider switch-homeslider switch-parent">
                            <ul class="list-modifier-edit">
                                <li>
                                    <p class="name-features">{% trans "titleCar" %}</p>
                                </li>
                                <li>
                                    <div class="modifier-edit-link">
                                        <img class="switch-visibility" src="/static/img/icons/eye.png"
                                            title="{% trans "helpEye" %}"
                                        isVisible="{{ prefWebsite.isvisible_homeslider }}" user="{{ username }}" element="homeslider"/>
                                    </div>
                                </li>
                                <li>
                                    <a href="#modal-slider" class="open-modal" rel="modal:open" ><img src="/static/img/icons/cog.png" title="{% trans "helpParam" %}"></a>
                                </li>
                                <li>
                                    <a href="/{{ username }}/build/managework/"><img title="{% trans "helpAddWork" %}" src="/static/img/icons/add.png"></a>
                                </li>
                            </ul>
                            <div class="clear"></div>
                            {% if prefWebsite.isvisible_homeslider == True %}
                              <section class="last-works">
                                  <div class="wrapper-content">
                                      {% if prefWebsiteSlider.kind == "last" %}
                                              {% for work in lastWorks %}
                                                  <div class="mosaic-block circle">
                                                      <a href="/{{ username }}/cartel/{{ work.id }}/" class="mosaic-overlay">&nbsp;</a>
                                                      <div class="mosaic-backdrop"><img height="{{ work.image.height }}" src="/static/{{ work.image }}"/></div>
                                                  </div>
                                              {% endfor %}
                                      {% endif %}
                                      {% if prefWebsiteSlider.kind == "focus" %}
                                          {% for work in focusWorks %}
                                                  <div class="mosaic-block circle">
                                                      <a href="http://buildinternet.com/project/mosaic" class="mosaic-overlay">&nbsp;</a>
                                                      <div class="mosaic-backdrop"><img height="{{ work.image.height }}" src="/static/{{ work.image }}"/></div>
                                                  </div>
                                          {% endfor %}
                                      {% endif %}
                                  </div>
                                  <div class="clear"></div>
                              </section>
                          {% endif %}
                            <div class="modal" id="modal-slider" style="display:none;">
                                <h2>Edit Slider</h2>
                                <form action="/{{ user.username }}/build/editslider/" method="post">
                                    {{ formSlider.as_p }}
                                    <input type="submit" value="Submit" />
                                </form>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </section>
            </div>
        </article>
        <div class="sub-home">
            <article class="wrapper-home-biography">
                <div class="wrapper-content">
                    <div class="wrapper-home-content-alignleft modifier-edit-marker switch-homebio switch-parent">
                        <ul class="list-modifier-edit">
                            <li>
                                <div class="name-features" style="padding: 2px 5px;">{% trans "titleBiography" %}</div>
                            </li>
                            <li>
                                <div class="modifier-edit-link">
                                    <img class="switch-visibility" src="/static/img/icons/eye.png" title="{% trans "helpEye" %}"
                                    isVisible="{{ prefWebsite.isvisible_homebio }}" user="{{ username }}" element="homebio" />
                                </div>
                            </li>
                            <li>
                                <a href="/{{ username }}/build/editbio/"><img title="{% trans "helpPencilBio" %}" src="/static/img/icons/pencil.png"></a>
                            </li>
                        </ul>
                        <p><em>{{ biography|truncatewords:100 }} <a href="/{{ username }}/build/editbio/">{% trans "modify" %} ></a></em></p>
                    </div>
                </div>
            </article>
            <article class="wrapper-home-exhibition">
                <div class="wrapper-content">
                    <div class="wrapper-home-content-alignright modifier-edit-marker switch-homeexhibition switch-parent">
                        <ul class="list-modifier-edit">
                            <li>
                                <p class="name-features">{% trans "titleExhibitions" %}</p>
                            </li>
                            <li>
                                <div class="modifier-edit-link">
                                    <img class="switch-visibility" src="/static/img/icons/eye.png" title="{% trans "helpEye" %}"
                                    isVisible="{{ prefWebsite.isvisible_homeexhibition }}" user="{{ username }}" element="homeexhibition" />
                                </div>
                            </li>
                            <li>
                                <a href="/{{ username }}/build/addexhibition/"><img title="{% trans "helpAddEx" %}" src="/static/img/icons/add.png"></a>
                            </li>
                        </ul>
                        <h2 style="color:{{ prefWebsite.font_color }}">Last exhibitions</h2>
                        {% for exhibition in exhibitions %}
                            <div class="object-exhibition">
                                <p class="title-exhibition"><strong>{{ exhibition.nameGallery }}</strong></p>
                                <p class="address-exhibition"><em>{{ exhibition.adress }}</em></p>
                                <p class="id-exhibition"><em>Ref : N°{{ exhibition.id }}</em></p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal" id="ex1" style="display:none;">
                    </div>
                </div>
                <div class="clear"></div>
            </article>
        </div>
        <section class="wrapper-footer" role="footer">
            <div class="wrapper-content">
                <p>Powered by Profil Art - Create my Website - Follow this artist</p>
            </div>
        </section>
        </div>
    </div>
</body>