{% for group in user.groups.all %}
    {% if group.name == 'Artist' %}
	<article class="menu-backoffice">
	    <div class="wrapper-content">
		<div class="wrapper-title menu-vertical">
		    <ul>
			<li><strong><a href="/{{ user.username }}">Voir le site</a></strong></li>
			<li><a href="/{{ user.username }}/build/themes">Themes</a></li>
			<li><a href="/{{ user.username }}/build/managework">Projects</a></li>
			<li><a href="/{{ user.username }}/build/manageexhibitions">Exhibitions</a></li>
			<!--<li><a href="/{{ user.username }}/build/editwebsite">Profil page</a></li>-->
			<li><a href="/{{ user.username }}/build/editaccount">Account</a></li>
			<li><a href="/{{ user.username }}/build/managesocial">Social</a></li>
		    </ul>
		    <div class="clear"></div>
		</div>
	    </div>
	</article>
    {% endif %}
    {% if group.name == "Curator" %}
	<article class="menu-backoffice">
	    <div class="wrapper-content">
		<div class="wrapper-title menu-vertical">
		    <ul>
			<li><strong><a href="/{{ user.username }}">Voir le profil</a></strong></li>
			<li><a href="/{{ user.username }}/build/manageexhibitions">Exhibitions</a></li>
			<li><a href="/{{ user.username }}/build/editaccount">Account</a></li>
			<li><a href="/{{ user.username }}/build/managesocial">Statistics</a></li>
		    </ul>
		    <div class="clear"></div>
		</div>
	    </div>
	</article>
    {% endif %}
{% endfor %}
