<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Profil Art</title>
    <link rel="stylesheet" href="/static/css/screen.css"
</head>
<body>
    <header>
        <div class="wrapper-content">
            <div class="wrapper-title">
                <h1><a href="{% url 'blog.views.home' %}">Profil' Art</a></h1>
            </div>
        </div>
    </header>
    <article>
        <div class="wrapper-content">
            {% include "menu/mainMenu.html" %}
            
            {% block content %}
            {% endblock content %}
        </div>
    </article>
    <footer>
        <div class="wrapper-content">
            <p>Powered by Django</p>
        </div>
    </footer>
</body>