<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Profil Art</title>
    <script type="text/javascript" src="/static/script/jquery-2.0.3.min.js"></script>
    {% block headScript %}
    {% endblock headScript %}
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/screen.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    {% block headStyle %}
    {% endblock headStyle %}
</head>
<body class="{% block bodyClass %} {% endblock %}">
    {% include "layout/header.html" %}
    {% if user.is_authenticated %}
        {% include "menu/backOfficeMenu.html" %}
    {% endif %}
    <article>
        <div class="wrapper-content">
            <div class="main-content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </article>
    <footer>
        <div class="wrapper-content">
            <p>Powered by Django</p>
        </div>
    </footer>
</body>